.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input[type="text"],
.form select {
    padding: 1rem;
    border: .3rem solid var(--white);
    color: #4b4b4b;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}
.field option {
    color: var(--white);
    background: #4b4b4b;
}

.submit {
    background-color: var(--primary);
    border: none;
    border-radius: 1rem;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    transition-property: background-color;
    transition-duration: .1s;
}
.submit:hover {
    background-color: #d88d0c;
}